/*--- Header Styling ---*/
.Header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
}

.Header nav a{
  color: black;
  font-size: 20px;
  font-weight: normal;
  margin: 0 20px;
  text-decoration: none;
}

.Header nav a:hover{
  color: green;
}

/*--- Home Styling ---*/
.Home{
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px;
}
