/*--- Header Styling ---*/
.Header{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Header h1 {
  font-size: 30px;
  font-weight: 600;
}

.Header nav a{
  color: black;
  font-size: 20px;
  font-weight: normal;
  margin: 0 20px;
  text-decoration: none;
}

.Header nav a:hover{
  color: green;
}

/*--- Home Styling ---*/
.Home{
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px 65px;
}

.Home h2{
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.Home h2 span{
  color: green;
}

.WeatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.WeatherInfo_Basic{
  border: 2px solid black;
  flex-basis: 30%;
  padding: 30px;
  text-align: center;
}

.WeatherInfo_Type{
  font-size: 60px;
  margin: 0;
  margin-bottom: 30px;
}

.WeatherInfo_Temperature{
  font-size: 48px;
  margin: 0;
}

.WeatherInfo_Temperature_Small{
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.WeatherInfo_Extra{
  border: 2px solid black;
  border-left: none;
  display: flex;
  flex-basis: 70%;
  padding: 30px;
}

.WeatherInfo_Extra_Column{
  flex-basis: 50%;
}

.WeatherInfo_Image{
  font-size: 150px;
}

.Label{
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

/* media querey */
@media screen and (max-width: 640px) {
  .Header {
    flex-direction: column;
  }

  .Header nav a {
    font-size: 14px;
  }

  .Home h2 {
    font-size: 40px;
  }

  .WeatherInfo{
    flex-direction: column;
  }

  .WeatherInfo_Extra{
    border: 2px solid black;
    border-top: none;
    flex-direction: column;
  }

  .WeatherInfo_Image {
    font-size: 80px;
  }
}
